$mainWidth: 1200px
$textAccentColor: #4E618D

@mixin flex($content, $items,$direction)
  display: flex
  justify-content: $content
  align-items: $items
  flex-direction: $direction

.pageWrapper
  @include flex(center,center,column)
  width: $mainWidth
  color: $textAccentColor
  margin: 50px auto 0

.link
  text-decoration: none
  margin-top: 50px
  padding: 15px
  background-color: $textAccentColor
  color: white
  border-radius: 10px

.tableContainer
  width: 50%
  text-align: center
  tr
    height: 50px
  th
    color: black
  th, td
    vertical-align: middle
  tr + tr
    border-bottom: 1px solid lightgrey